In [6]:
import pandas as pd

df = pd.read_csv('Unit06 iris.csv')

df['species_num'] = pd.factorize(df['species'])[0]

df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_num
0           5.1          3.5           1.4          0.2  setosa            0
1           4.9          3.0           1.4          0.2  setosa            0
2           4.7          3.2           1.3          0.2  setosa            0
3           4.6          3.1           1.5          0.2  setosa            0
4           5.0          3.6           1.4          0.2  setosa            0

In [10]:
X = df.drop(labels=['species', 'species_num'], axis=1)
y = df['species_num']

X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
import torch

X_train = X_train.values
X_train = torch.tensor(X_train, dtype=torch.float32)
X_train = X_train.view(-1, 3)

X_test = X_test.values
X_test = torch.tensor(X_test, dtype=torch.float32)
X_test = X_train.view(-1, 3)

y_train = y_train.values
y_train = torch.tensor(y_train, dtype=torch.float32)
y_train = X_train.view(-1, 3)

y_test = y_test.values
y_train = torch.tensor(y_train, dtype=torch.float32)
y

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim